﻿@model Injectsense.Models.ModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Injectsense Demo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/lib/jquery-ui-combined/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <!--  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" /> -->
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-ui"></script>
    <script src="~/lib/modernizr"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/respond.js/respond.js"></script>

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: 'c062ce49-96f0-4dc9-a74c-d40d7a3f4a75'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img class="img-fluid" src="@Url.Content("~/images/logo.png")" alt="Image" style="width:250px;height:77px;" />

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "margin-top:25px;" })</li>
                    <li class="nav-item">@Html.ActionLink("Manage My Patients", "Index", "ManageMyPatients", null, new { @class = "nav-link", @style = "margin-top:25px;" })</li>
                    <li class="nav-item">@Html.ActionLink("Manage My Clinic", "Index", "ManageMyClinic", null, new { @class = "nav-link", @style = "margin-top:25px;" })</li>
                    <li class="nav-item d-none d-sm-block">
                        <div class="row float-right" style="text-align:center;">
                            <img class="nav-item" src="@Url.Content("~/images/StaffProfile2.png")" alt="Image" style="width:65px;height:65px;max-width:65px;max-height:65px;margin-top:15px;" />
                            <a class="nav-link disabled" style="color:black; width:100px; margin-top:10px;"><div style="text-align:center; width:100px;"><div class="d-inline-block text-truncate" style="text-align:center; width:100px;">@Model.LoggedInUserFirstName</div><div class="d-inline-block text-truncate" style="text-align:center; width:100px;">@Model.LoggedInUserLastName</div></div></a>
                        </div>
                    </li>
                    <li class="nav-item float-right">
                        @Html.ActionLink("Sign out", "LogOut", "Home", new { @class = "nav-link float-right", @style = "margin-top:25px;" })
                    </li>
                </ul>
            </div>
        </nav>
        <hr style="margin-top:2px;">
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Injectsense, Inc.</p>
        </footer>
    </div>

    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/jqueryui"></script>
    <script src="~/bundles/bootstrap"></script>

    @RenderSection("scripts", required: false)

    <!-- The following needs to load last -->
    <!-- add logic to provide image next to date picker -->
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd-M-yy",
                showOn: "button",
                buttonImage: "/images/if_calendar_115762_32x32.png",
                buttonImageOnly: true,
                buttonText: "Select date"
            });
            $(".trigger").click(function () {
                $(".datepicker").datepicker("show");
            });
        });
    </script>
    <!-- add logic to save the tab on refresh -->
    <script type="text/javascript">
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });

        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('.nav-tabs a[href="' + activeTab + '"]').tab('show');
        }
    </script>
</body>
</html>
