﻿@if (Request.IsAuthenticated)
{
    <text>
<ul class="nav navbar-nav navbar-right">
    <li>
        @User.Identity.Name
    </li>
    <li class="nav-item active">
        @Html.ActionLink("Sign out", "LogOut", "Home", new { @class = "nav-link signOut" })
    </li>
</ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "LogIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
