﻿
@model Injectsense.Models.PatientModel
@{
    ViewBag.Title = "Patient";
}

<div class="row">
    <div class="text-left col-md-6">
        <p>Clinic: @Model.ClinicName</p>
    </div>
    <div class="col-md-6">
        <button style="width:100px; padding:5px; margin: 3px 3px 3px 3px;" type="button" class="btn btn-secondary btn-sm float-right">Transfer Out</button>
    </div>
    <div class="text-left col-md-6">
        <p>Patient: @Model.NameCombined.</p>
    </div>
    <div class="col-md-6">
        <button style="width:100px; padding:5px; margin: 3px 3px 3px 3px;" type="button" class="btn btn-secondary btn-sm float-right">Discontinue</button>
    </div>
</div>
<hr>

<div class="container">
    <ul class="nav nav-tabs" id="thetab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="patientInfoTab" data-toggle="tab" role="tab" href="#patientInfoContent">Patient Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="equipmentTab" data-toggle="tab" role="tab" href="#equipmentContent">Equipment</a>
        </li>
    </ul>

    <div class="tab-content" id="theTabConent">
        <div class="tab-pane fade show active" id="patientInfoContent" role="tabpanel">
            <br />
            <p>Patient Details:</p>

            @using (Html.BeginForm("Index", "Patient", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.PatientId)

                <div id="ContactContainer">
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-2 col-form-label RequiredField">Last Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.NameLast, "", new { @type = "text", @class = "form-control", @id = "lastName", @MaxLength = "36" })
                            @Html.ValidationMessageFor(model => model.NameLast, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-2 col-form-label RequiredField">First Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.NameFirst, "", new { @type = "text", @class = "form-control", @id = "firstName", @MaxLength = "36" })
                            @Html.ValidationMessageFor(model => model.NameFirst, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="middleName" class="col-sm-2 col-form-label">Middle Initial:</label>
                        <div class="col-sm-1">
                            @Html.TextBoxFor(m => m.NameMiddle, "", new { @type = "text", @class = "form-control", @id = "middleName", @MaxLength = "1" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label RequiredField">Title:</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @for (int i = 0; i < Model.NamePrefixes.Count; i++)
                        {
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.NamePrefix, Model.NamePrefixes[i], new { @type = "radio", @class = "form-check-input", @id = "title" })
                                @Html.Label(Model.NamePrefixes[i], Model.NamePrefixes[i], new { @class = "form-check-label", @id = "title" })
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="DateOfBirth" class="col-sm-2 col-form-label RequiredField">Date of Birth:</label>
                        &nbsp;&nbsp;&nbsp;
                        @Html.EditorFor(m => m.DateOfBirth, Model.DateOfBirth.ToShortDateString())
                        @Html.ValidationMessageFor(m => m.DateOfBirth)
                    </div>
                    <div class="form-group row">
                        <label for="patientId" class="col-sm-2 col-form-label">Patient ID:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Identifier, "", new { @type = "text", @class = "form-control", @id = "patientId", @MaxLength = "50" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="homePhone" class="col-sm-2 col-form-label">Home Phone:</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.PhoneHome, "", new { @type = "text", @class = "form-control", @id = "homePhone" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label RequiredField">Gender:</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @for (int i = 0; i < Model.Genders.Count; i++)
                        {
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.Gender, Model.Genders[i], new { @type = "radio", @class = "form-check-input", @id = "gender" })
                                @Html.Label(Model.Genders[i], Model.Genders[i], new { @class = "form-check-label", @id = "gender" })
                            </div>
                        }
                    </div>
                    <div>
                        <input style="width:100px; padding:5px; margin: 3px 3px 3px 3px; background:#707070" id="btnSubmit" type="submit" value="Save" class="btn btn-secondary btn-sm float-right" />
                    </div>
                </div>
            @*}*@
            <br />
        </div> <!-- End of first tab, ID = #1 -->
        <div class="tab-pane fade" id="equipmentContent" role="tabpanel">
            <br />
            <p>Equipment Details:</p>

            @*@using (Html.BeginForm("Index", "Patient", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.PatientId)*@

                <div id="ContactContainer">
                    <p style="font-weight:bold;">Left Eye:</p>
                    <div class="form-group row">
                        <label for="leftEyeModel" class="col-sm-2 col-form-label">Device Model:</label>
                        <label for="leftEyeModel" class="col-sm-10 col-form-label">@Model.LeftEyeDeviceModel</label>
                    </div>
                    <div class="form-group row">
                        <label for="leftEyeSerial" class="col-sm-2 col-form-label RequiredField">Serial Number:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.LeftEyeDeviceSerialNumber, "", new { @type = "text", @class = "form-control", @id = "leftEyeSerial", @MaxLength = "9" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="leftEyeImplantDate" class="col-sm-2 col-form-label RequiredField">Implant Date:</label>
                        &nbsp;&nbsp;&nbsp;
                        @Html.EditorFor(m => m.LeftEyeDeviceImplantDate, Model.LeftEyeDeviceImplantDate)
                        @Html.ValidationMessageFor(m => m.LeftEyeDeviceImplantDate)
                    </div>
                    <p style="font-weight:bold;">Right Eye:</p>
                    <div class="form-group row">
                        <label for="rightEyeModel" class="col-sm-2 col-form-label">Device Model:</label>
                        <label for="rightEyeModel" class="col-sm-10 col-form-label">@Model.RightEyeDeviceModel</label>
                    </div>
                    <div class="form-group row">
                        <label for="rightEyeSerial" class="col-sm-2 col-form-label RequiredField">Serial Number:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.RightEyeDeviceSerialNumber, "", new { @type = "text", @class = "form-control", @id = "rightEyeSerial", @MaxLength = "9" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rightEyeImplantDate" class="col-sm-2 col-form-label RequiredField">Implant Date:</label>
                        &nbsp;&nbsp;&nbsp;
                        @Html.EditorFor(m => m.RightEyeDeviceImplantDate, Model.RightEyeDeviceImplantDate)
                        @Html.ValidationMessageFor(m => m.RightEyeDeviceImplantDate)
                    </div>
                    <div>
                        <input style="width:100px; padding:5px; margin: 3px 3px 3px 3px; background:#707070" id="btnSubmit" type="submit" value="Save" class="btn btn-secondary btn-sm float-right" />
                    </div>
                </div>
            }
            <br />
        </div> <!-- End of second tab, ID = #2 -->
    </div> <!-- End of Content -->
</div> <!-- End of Container -->
