﻿
@model Injectsense.Models.PatientModel
@using Injectsense.Models
@{
    ViewBag.Title = "Patient";
}

<div class="row">
    <div class="text-left col-md-6">
        <p class="clinic-name">@Model.ClinicName</p>
    </div>
    <div class="col-md-6">
        <button style="width:100px; padding:5px; margin: 3px 3px 3px 3px;" type="button" class="btn btn-secondary btn-sm float-right">Transfer</button>
    </div>
    <div class="text-left col-md-6">
        @if (!Model.PatientInfoEntryOnly)
        {
            <p class="patient-name">Patient: @Model.NameCombined</p>
        }
        </div>
    <div class="col-md-6">
        <button style="width:100px; padding:5px; margin: 3px 3px 3px 3px;" type="button" class="btn btn-secondary btn-sm float-right">Discontinue</button>
    </div>
</div>
<hr>
<div class="container">
    <ul class="nav nav-tabs" id="thetab" role="tablist">
        @if (Model.PatientInfoEntryOnly)
        {
            <li class="nav-item">
                <a class="nav-link active disabled" id="patientInfoTab" data-toggle="tab" role="tab" >Patient Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" id="equipmentTab" data-toggle="tab" role="tab">Equipment</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link active" id="patientInfoTab" data-toggle="tab" role="tab" href="#patientInfoContent">Patient Information</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="equipmentTab" data-toggle="tab" role="tab" href="#equipmentContent">Equipment</a>
            </li>
        }
    </ul>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="patientInfoContent" role="tabpanel" aria-labelledby="patient-info-tab">
            @{ string actionString = "";}
            @if (Model.PatientInfoEntryOnly)
            {
                // This is where "create patient" occurrs.
                actionString = "Create";
            }
            else
            {
                // This is update patient.
                actionString = "Index";
            }
            @using (Html.BeginForm(@actionString, "Patient", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input type="hidden" name="PatientId" value="@Model.PatientId" />
                <input type="hidden" name="IsPatientInfoTab" value="@Model.IsPatientInfoTab" />

                @* Need to post back the values that are in the other tab - so they can be returned as is *@
                @* For some reason, had to change hiddenfor here to standard html and loops below are fine. *@
                <input type="hidden" name="DeviceModelSelectIdRow1" value="@Model.DeviceModelSelectIdRow1" />
                <input type="hidden" name="DeviceSerialNumberRow1" value="@Model.DeviceSerialNumberRow1" />
                <input type="hidden" name="DeviceSerialNumberRow1Hidden" value="@Model.DeviceSerialNumberRow1Hidden" />
                <input type="hidden" name="DeviceImplantDateRow1" value="@Model.DeviceImplantDateRow1" />
                <input type="hidden" name="DeviceImplantLocationSelectIdRow1" value="@Model.DeviceImplantLocationSelectIdRow1" />
                <input type="hidden" name="DeviceModelSelectIdRow2" value="@Model.DeviceModelSelectIdRow2" />
                <input type="hidden" name="DeviceSerialNumberRow2" value="@Model.DeviceSerialNumberRow2" />
                <input type="hidden" name="DeviceSerialNumberRow2Hidden" value="@Model.DeviceSerialNumberRow2Hidden" />
                <input type="hidden" name="DeviceImplantDateRow2" value="@Model.DeviceImplantDateRow2" />
                <input type="hidden" name="DeviceImplantLocationSelectIdRow2" value="@Model.DeviceImplantLocationSelectIdRow2" />

                <br />
                <div id="container">
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-2 col-form-label RequiredField">Last Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.NameLast, "", new { @type = "text", @class = "form-control", @id = "nameLast", @MaxLength = "36" })
                            @Html.ValidationMessageFor(model => model.NameLast, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-2 col-form-label RequiredField">First Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.NameFirst, "", new { @type = "text", @class = "form-control", @id = "nameFirst", @MaxLength = "36" })
                            @Html.ValidationMessageFor(model => model.NameFirst, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nameMiddle" class="col-sm-2 col-form-label">Middle Initial:</label>
                        <div class="col-sm-1">
                            @Html.TextBoxFor(m => m.NameMiddle, "", new { @type = "text", @class = "form-control", @id = "nameMiddle", @MaxLength = "1" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="DateOfBirth" class="col-sm-2 col-form-label RequiredField" style="text-align:left;">Date of Birth:</label>
                        <div class="col-md-10 form-inline">
                            <input class="datepicker form-control" id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth" placeholder="dd-mmm-yyyy" />
                            @Html.ValidationMessageFor(model => model.DateOfBirth, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="identifier" class="col-sm-2 col-form-label">Patient ID:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Identifier, "", new { @type = "text", @class = "form-control", @id = "identifier", @MaxLength = "50" })
                            @Html.ValidationMessageFor(model => model.Identifier, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phoneHome" class="col-sm-2 col-form-label">Home Phone:</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.PhoneHome, "", new { @type = "text", @class = "form-control", @id = "phoneHome", placeholder = "###-###-####" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PhoneHome, null, new { @class = "help-inline" })
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label RequiredField">Gender:</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @for (int i = 0; i < Model.Genders.Count; i++)
                        {
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(x => x.Gender, Model.Genders[i], new { @type = "radio", @class = "form-check-input", @id = "gender" })
                                @Html.Label(Model.Genders[i], Model.Genders[i], new { @class = "form-check-label", @id = "gender" })
                            </div>
                        }
                        @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "help-inline", @style = "margin-top:7px;" })
                    </div>
                </div> <!-- End of patient info Container-->
                <div>
                    <input style="width:100px; padding:5px; margin: 3px 3px 3px 3px; background:#707070" id="btnSubmit" type="submit" value="Save" class="btn btn-secondary btn-sm float-right submit-btn" />
                </div>
            }
            <br />
        </div> <!-- End of first tab, ID = #1 -->
        @* Even though the Equipment tab is disabled, it still gets rendered and objects fail on nulls - so remove it. *@
        @if (!Model.PatientInfoEntryOnly)
        {
            <div class="tab-pane fade show" id="equipmentContent" role="tabpanel" aria-labelledby="equipment-tab">
                <div class="tab-pane fade show" id="equipmentContent" role="tabpanel" aria-labelledby="equipment-tab">
                    @using (Html.BeginForm("Index", "Patient", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input type="hidden" name="PatientId" value="@Model.PatientId" />
                        <input type="hidden" name="IsPatientInfoTab" value="false" />

                        @* Need to post back the values that are in the other tab - so they can be returned as is *@
                        <input type="hidden" name="NameLast" value="@Model.NameLast" />
                        <input type="hidden" name="NameFirst" value="@Model.NameFirst" />
                        <input type="hidden" name="NameMiddle" value="@Model.NameMiddle" />
                        <input type="hidden" name="DateOfBirth" value="@Model.DateOfBirth" />
                        <input type="hidden" name="Identifier" value="@Model.Identifier" />
                        <input type="hidden" name="PhoneHome" value="@Model.PhoneHome" />
                        <input type="hidden" name="Genders" value="@Model.Genders" />
                        <input type="hidden" name="Gender" value="@Model.Gender" />

                        <input type="hidden" name="DeviceSerialNumberRow1Hidden" value="@Model.DeviceSerialNumberRow1Hidden" />
                        <input type="hidden" name="DeviceSerialNumberRow2Hidden" value="@Model.DeviceSerialNumberRow2Hidden" />

                        @* Need to do the the list of hidden items to get the list to post back properly *@
                        for (int i = 0; i < Model.DeviceImplantLocationListRow1.Count; i++)
                        {
                            @Html.HiddenFor(model => Model.DeviceImplantLocationListRow1[i].Text)
                            @Html.HiddenFor(model => Model.DeviceImplantLocationListRow1[i].Value)
                        }
                        for (int i = 0; i < Model.DeviceModelListRow1.Count; i++)
                        {
                            @Html.HiddenFor(model => Model.DeviceModelListRow1[i].Text)
                            @Html.HiddenFor(model => Model.DeviceModelListRow1[i].Value)
                        }

                        <br />
                        <div class="container">
                            <p style="font-weight:bold;" class="text-left">Sensor Information:</p>
                            <div class="row" style="margin-left:4px">
                                <div class="col-sm-3" style="font-weight:bold;">
                                    Model Number
                                </div>
                                <div class="col-sm-3" style="font-weight:bold;">
                                    Serial Number
                                </div>
                                <div class="col-sm-3" style="font-weight:bold;">
                                    Implant Date
                                </div>
                                <div class="col-sm-3" style="font-weight:bold;">
                                    Location
                                </div>
                            </div>
                            <div class="row" style="margin-left:4px">
                                <div class="col-sm-3">
                                    <!-- To do, test for -1 and put prompt in drop down -->
                                    @Html.DropDownListFor(x => x.DeviceModelSelectIdRow1, Model.DeviceModelListRow1, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.DeviceSerialNumberRow1, "", new { @type = "text", @class = "form-control", @id = "deviceSerialNumberRow1", @MaxLength = "20" })
                                    @Html.ValidationMessageFor(x => x.DeviceSerialNumberRow1, null, new { @class = "help-inline" })
                                </div>
                                <div class="col-sm-3 form-inline">
                                    <input class="datepicker form-control col-sm-9" id="deviceImplantDateRow1" , name="DeviceImplantDateRow1" , value="@Model.DeviceImplantDateRow1" />
                                    @Html.ValidationMessageFor(x => x.DeviceImplantDateRow1, null, new { @class = "help-inline" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(x => x.DeviceImplantLocationSelectIdRow1, Model.DeviceImplantLocationListRow1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row" style="margin-left:4px">
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(x => x.DeviceModelSelectIdRow2, Model.DeviceModelListRow2, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.DeviceSerialNumberRow2, "", new { @type = "text", @class = "form-control", @id = "deviceSerialNumberRow2", @MaxLength = "20" })
                                    @Html.ValidationMessageFor(x => x.DeviceSerialNumberRow2, null, new { @class = "help-inline" })
                                </div>
                                <div class="col-sm-3 form-inline">
                                    <input class="datepicker form-control col-sm-9" id="deviceImplantDateRow2" , name="DeviceImplantDateRow2" , value="@Model.DeviceImplantDateRow2" />
                                    @Html.ValidationMessageFor(x => x.DeviceImplantDateRow2, null, new { @class = "help-inline" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(x => x.DeviceImplantLocationSelectIdRow2, Model.DeviceImplantLocationListRow2, new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            @if ((!string.IsNullOrEmpty(Model.DeviceSerialNumberRow1)) || (!string.IsNullOrEmpty(Model.DeviceSerialNumberRow2)))
                            {
                                <p style="font-weight:bold;" class="text-left">Reader Information:</p>
                                <div class="row" style="margin-left:4px">
                                    <div class="col-sm" style="font-weight:bold;">
                                        Model Number
                                    </div>
                                    <div class="col-sm" style="font-weight:bold;">
                                        Serial Number
                                    </div>
                                    <div class="col-sm" style="font-weight:bold;">
                                        Shipment Date
                                    </div>
                                </div>
                                <div class="row" style="margin-left:4px">
                                    <div class="col-sm">
                                        PR1700
                                    </div>
                                    <div class="col-sm">
                                        IRC10526A
                                    </div>
                                    <div class="col-sm">
                                        2-Mar-2017
                                    </div>
                                </div>
                            }
                        </div>
                        <div>
                            <input style="width:100px; padding:5px; margin: 3px 3px 3px 3px; background:#707070" id="btnSubmit" type="submit" value="Save" class="btn btn-secondary btn-sm float-right submit-btn" />
                        </div>
                    }
                    <br />
                </div> <!-- End of second tab, ID = #2 -->
            </div> <!-- End of Content -->
        }
            <br />
        </div> <!-- End of Container -->
