﻿
@model Injectsense.Models.PackageModel
@using Injectsense.Models
@{
    Layout = null;
    ViewBag.Title = "Package";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Injectsense Demo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: 'c062ce49-96f0-4dc9-a74c-d40d7a3f4a75'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <br />
    <br />
    <br />
    <div style="margin-left:4px">
        Time of query: @Model.CurrentDateTime
    </div>
    <br />
    <!-- Start the form -->
    @using (Html.BeginForm("Index2", "Package", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
    <div class="form-group" style="margin-left:4px">
        <label for="serialNumberId" class="control-label">Sensor Serial Number:&nbsp;&nbsp;</label>
        <input type="text" class="form-control" id="serialNumberId" name="sensorSerialNumber" value="@Model.SearchSensorSerialNumber">
        <label for="dateRangeStartId" class="control-label">Start Date:&nbsp;&nbsp;</label>
        <input type="text" class="form-control" id="dateRangeStartId" name="dateRangeStart" value="@Model.DateRangeStart">
        <label for="dateRangeStopId" class="control-label">End Date:&nbsp;&nbsp;</label>
        <input type="text" class="form-control" id="dateRangeStopId" name="dateRangeStop" value="@Model.DateRangeStop">
    </div>
    <div class="form-group" style="margin-left:4px">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    }
    <br />
    <!-- Stop the form -->
    <div class="table-responsive" style="margin-left:4px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="padding:0; margin:2px; text-align:left">Received Date Time(UTC)</th>
                    <th scope="col" style="padding:0; margin:2px; text-align:left">Received Date Time(CST)</th>
                    <th scope="col" style="padding:0; margin:2px; text-align:center">Time Of Interrogation(UTC)</th>
                    <th scope="col" style="padding:0; margin:2px; text-align:center">Time Of Interrogation(CST)</th>
                    <th scope="col" style="padding:0; margin:2px; text-align:center">Sensor Serial #1</th>
                    <th scope="col" style="padding:0; margin:2px; text-align:center">Sensor Serial #2</th>
                    <th scope="col" style="padding:0; margin:2px; text-align:center">Reader Serial Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.PackageInfoList)
                {
                    <tr>
                        @if (Model.PackageInfoList.Count > 0)
                        {
                            <td style="padding:0; margin:2px; text-align:center">@Html.ActionLink(m.ReceivedTimeUTC, "GetPackage", "Package", new { transmissionId = @m.TransmissionId }, null)</td>
                            <td style="padding:0; margin:2px; text-align:center">@m.ReceivedTimeCST</td>
                            <td style="padding:0; margin:2px; text-align:center">@m.TimeOfInterrogationUTC</td>
                            <td style="padding:0; margin:2px; text-align:center">@m.TimeOfInterrogationCST</td>
                            <td style="padding:0; margin:2px; text-align:center">@m.SensorSerialNumber1</td>
                            <td style="padding:0; margin:2px; text-align:center">@m.SensorSerialNumber2</td>
                            <td style="padding:0; margin:2px; text-align:center">@m.ReaderSerialNumber</td>
                        }
                        else
                        {
                            <td style="padding:0; margin:2px; text-align:center">Transmissions not available.</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
