﻿body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.foo {
    min-width: 100px !important;
    display: inline-block !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 128, 128);
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(0, 128, 128);
    opacity: 0.50;
}

/* adjusts the width of navbar to line up with middle of page content */
.navbar {
    margin-left: -15px !important;
    margin-right: -20px !important;
}

.btn {
    background: rgb(0, 128, 128);
}

#tabset h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

.navbar-default .navbar-nav > li > a {
    outline: none !important;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

.clinic-name {
    font-size: medium;
    font-weight: bold;
}

.patient-name {
    font-size: medium;
    font-weight: bold;
}

.field-validation-error {
    color: red;
}

.submit-btn:hover {
    background-color: rgb(0, 128, 128) !important;
    color: white;
}
