﻿@model Injectsense.Models.LatestPatientActivityModel
@{
    ViewBag.Title = "Home Page";
}

@*<div>
    <p class="clinic-name">@Model.ClinicName</p>
</div>*@

<div class="row">
    <div class="col-md-4 d-flex flex-column align-items-left"">
        <div class="mt-auto">
            <p class="clinic-name">@Model.ClinicName</p>
        </div>
        <div class="mt-auto">
        <p style="font-weight:bold; margin-bottom:10px;">Recent Patient Activity</p>
        </div>
    </div>
    <div class="col-md-4" style="text-align:end">

    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2 d-flex flex-column align-items-end">
        @if (Model.ClinicProfileImage.Length != 0)
        {
            <img src=@Url.Content(Model.ClinicProfileImage) alt="Image" style="width:140px;height:90px; margin-bottom:10px; margin-right:5px;" />
        }
        @*@Html.ActionLink("Enroll Patient", "Create", "Patient", new { patientIdString = "" }, new { @class = "btn btn-secondary btn-sm float-right mt-auto", @style = "width:99px; height:31px; margin-bottom:10px;" })*@
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"  style="padding:0; margin:2px; text-align:left">Patient Name</th>
                <th scope="col"  style="padding:0; margin:2px; text-align:center">Latest Received</th>
                <th scope="col"  style="padding:0; margin:2px; text-align:center">ID Number</th>
                <th scope="col"  style="padding:0; margin:2px; text-align:center">Left S/N</th>
                <th scope="col"  style="padding:0; margin:2px; text-align:center">Right S/N</th>
                <th scope="col"  style="padding:0; margin:2px; text-align:center">Last Office Visit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.PatientActivityList)
            {
            <tr>
                <td style="padding:0; margin:2px; text-align:left">@Html.ActionLink(m.PatientName, "Index", "Patient", new { patientIdString = @m.PatientId.ToString() }, null)</td>
                <td style="padding:0; margin:2px; text-align:center">@Html.ActionLink(@m.ReceivedDateString, "Index", "TransmissionDetails", new { TransmissionId = @m.TransmissionId, PatientId = @m.PatientId, ClinicId = @Model.ClinicId }, null)</td>
                <td style="padding:0; margin:2px; text-align:center">@m.IdNumber</td>
                <td style="padding:0; margin:2px; text-align:center">@m.LeftEyeSerialNumber</td>
                <td style="padding:0; margin:2px; text-align:center">@m.RightEyeSerialNumber</td>
                <td style="padding:0; margin:2px; text-align:center">@m.LastOfficeVisitString</td>
            </tr>
            }
        </tbody>
    </table>
</div>
