﻿@model Injectsense.Models.ManageMyClinicModel
@{
    ViewBag.Title = "Manage My Clinic";
}

<div class="row">
    <div class="text-left col-md-6">
        <p class="clinic-name">@Model.ClinicName</p>
    </div>
</div>
<hr>
<div class="container">
    <ul class="nav nav-tabs" id="thetab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="clinicInfoTab" data-toggle="tab" role="tab" href="#clinicInfoContent">Clinic Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="primaryContactTab" data-toggle="tab" role="tab" href="#primaryContactContent">Primary Contact</a>
        </li>
    </ul>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="clinicInfoContent" role="tabpanel" aria-labelledby="clinic-info-tab">
            @using (Html.BeginForm("Index", "ManageMyClinic", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input type="hidden" name="IsClinicProfileTab" value="true" />
                <input type="hidden" name="ClinicIdString" value="@Model.ClinicIdString" />

                @* Need to post back the values that are in the other tab - so they can be returned as is *@
                <input type="hidden" name="PrimaryContactFirstName" value="@Model.PrimaryContactFirstName" />
                <input type="hidden" name="PrimaryContactLastName" value="@Model.PrimaryContactLastName" />
                <input type="hidden" name="PrimaryContactEmailAddress" value="@Model.PrimaryContactEmailAddress" />

                <br />
                <div id="ContactContainer">
                    <div class="form-group row">
                        <label for="clinicName" class="col-sm-2 col-form-label RequiredField">Clinic Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.ClinicNamePrimary, "", new { @type = "text", @class = "form-control", @id = "clinicNamePrimary", @MaxLength = "128" })
                            @Html.ValidationMessageFor(model => model.ClinicNamePrimary, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">Street Address:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.ClinicAddressLine1, "", new { @type = "text", @class = "form-control", @id = "clinicAddressLine1", @MaxLength = "80" })
                            @Html.ValidationMessageFor(model => model.ClinicAddressLine1, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField"></label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.ClinicAddressLine2, "", new { @type = "text", @class = "form-control", @id = "clinicAddressLine2", @MaxLength = "80" })
                            @Html.ValidationMessageFor(model => model.ClinicAddressLine2, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">City:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.City, "", new { @type = "text", @class = "form-control", @id = "clinicCity", @MaxLength = "50" })
                            @Html.ValidationMessageFor(model => model.City, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">State:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.State, "", new { @type = "text", @class = "form-control", @id = "state", @MaxLength = "2" })
                            @Html.ValidationMessageFor(model => model.State, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">Zipcode:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Zipcode, "", new { @type = "text", @class = "form-control", @id = "zipCode", @MaxLength = "5", placeholder = "#####" })
                            @Html.ValidationMessageFor(model => model.Zipcode, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">Phone Number:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.PhonePrimary, "", new { @type = "text", @class = "form-control", @id = "phonePrimary", @MaxLength = "12", placeholder = "###-###-####" })
                            @Html.ValidationMessageFor(model => model.PhonePrimary, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">Image Upload:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" typeof="text" name="clinicImageUpload" value="Not enabled. " disabled>
                        </div>
                    </div>
                </div>
                <br />
                <div>
                    <input style="width:100px; padding:5px; margin: 3px 3px 3px 3px; background:#707070" id="btnSubmit" type="submit" value="Save" class="btn btn-secondary btn-sm float-right submit-btn" />
                </div>
            }
        </div> <!-- End of first tab, ID = #1 -->
        <div class="tab-pane fade show" id="primaryContactContent" role="tabpanel" aria-labelledby="primary-contact-tab">
            @using (Html.BeginForm("Index", "ManageMyClinic", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input type="hidden" name="IsClinicProfileTab" value="false" />
                <input type="hidden" name="ClinicIdString" value="@Model.ClinicIdString" />

                @* Need to post back the values that are in the other tab - so they can be returned as is *@

                <input type="hidden" name="ClinicNamePrimary" value="@Model.ClinicNamePrimary" />
                <input type="hidden" name="ClinicAddressLine1" value="@Model.ClinicAddressLine1" />
                <input type="hidden" name="ClinicAddressLine2" value="@Model.ClinicAddressLine2" />
                <input type="hidden" name="City" value="@Model.City" />
                <input type="hidden" name="State" value="@Model.State" />
                <input type="hidden" name="Zipcode" value="@Model.Zipcode" />
                <input type="hidden" name="PhonePrimary" value="@Model.PhonePrimary" />

                <br />
                <div id="ContactContainer">
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-2 col-form-label RequiredField">First Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.PrimaryContactFirstName, "", new { @type = "text", @class = "form-control", @id = "primaryContactFirstName", @MaxLength = "40" })
                            @Html.ValidationMessageFor(model => model.PrimaryContactFirstName, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">Last Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.PrimaryContactLastName, "", new { @type = "text", @class = "form-control", @id = "primaryContacLastName", @MaxLength = "40" })
                            @Html.ValidationMessageFor(model => model.PrimaryContactLastName, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label RequiredField">Email:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.PrimaryContactEmailAddress, "", new { @type = "text", @class = "form-control", @id = "primaryContactEmailAddress", @MaxLength = "320" })
                            @Html.ValidationMessageFor(model => model.PrimaryContactEmailAddress, null, new { @class = "help-inline" })
                        </div>
                    </div>
                </div>
                <br />
                <div>
                    <input style="width:100px; padding:5px; margin: 3px 3px 3px 3px; background:#707070" id="btnSubmit" type="submit" value="Save" class="btn btn-secondary btn-sm float-right submit-btn" />
                </div>
            }
        </div> <!-- End of second tab, ID = #2 -->
    </div> <!-- End of Content -->
    <br />
</div> <!-- End of Container -->
