﻿@model Injectsense.Models.TransmissionDetailsModel

<div>
    <div class="row h4">
        <div class="text-left col-md-4">
            @Html.DisplayNameFor(m => m.PatientName)
            <span>@Model.PatientName</span>
        </div>
        <div class="text-center  col-md-4">
            <label>ID:</label>
            <span>@Model.IdNumber</span>
        </div>
        <div class="text-right col-md-4">
            <label>Date of Birth:</label>
            <span>@Model.DateOfBirth.ToString("dd-MMM-yyyy")</span>
        </div>
    </div>
    <div class="row">
        <div class="text-left col-md-6">
            @Html.DisplayNameFor(m => m.ReportingPeriod)
            <span>@Model.ReportingPeriod</span>
        </div>
        <div class="text-right col-md-6">
            @Html.DisplayNameFor(m => m.Physician)
            <span>@Model.Physician</span>
        </div>
    </div>
    <div class="row">
        <div class="text-left col-md-2">
                <span class="foo col-form-label">Left Eye:</span>
                <img src="~/images/BlueBoxW25byH20.png" />
                @*<svg width="25" height="20" class="text-right">
            <rect width="25" height="20" style="fill:blue" />
        </svg>*@
        </div>
        <div class="text-left col-md-4">
            <span class="foo col-form-label">@Html.DisplayNameFor(m => m.LeftEyeSerialNumber)</span>
            <span class="foo col-form-label">@Model.LeftEyeSerialNumber</span>
        </div>
        <div class="text-right col-md-6">
            <span class="foo col-form-label">
                @Html.DisplayNameFor(m => m.LastOfficeVisitString)</span>
                        <span class="col-form-label" >@Model.LastOfficeVisitString</span>
</div>
    </div>
    <div class="row">
        <div class="text-left col-md-2">
            <span class="foo col-form-label">Right Eye:</span>
            <img src="~/images/RedBoxW25byH20.png" />
            @*<svg width="25" height="20" class="text-right">
            <rect width="25" height="20" style="fill:orange" />
        </svg>*@
        </div>
        <div class="text-left col-md-4">
            <span class="foo col-form-label">
                @Html.DisplayNameFor(m => m.RightEyeSerialNumber)</span>
                        <span class="foo col-form-label">@Model.RightEyeSerialNumber</span>
</div>
        <div class="text-right col-md-6">
            @Html.DisplayNameFor(m => m.SamplePeriod)
            <span>@Model.SamplePeriod</span>
            @Html.DisplayNameFor(m => m.SampleUnits)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-secondary btn-sm float-right">Print Report</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="text-left col-md-6 h4">
            <label>Targeted Individual Pressure Profile®</label>
        </div>
        <div class="text-right col-md-6">
            <label>---- Baseline Profile</label>
        </div>
    </div>
    <div>
        <img width:960px; class="img-fluid" src="@Model.PressureImageFileReference" alt="Image" />
    </div>
    <div class="row">
        <div class="text-left col-md-4">
            <label>Average Baseline Reduction: </label>
        </div>
        <div class="text-center col-md-4">
            <label>Left Eye: 21.6%</label>
        </div>
        <div class="text-right col-md-4">
            <label>Right Eye: 24.3%</label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="text-left col-md-12 h4">
            <label>Pressure Histogram</label>
        </div>
    </div>
    <div>
        <img width:960px; class="img-fluid"  src="~/images/WideHistogramProfile.png" )" alt="Image" />
    </div>
    <div class="row">
        <div class="text-left col-md-4">
            <label>Histogram Summary: </label>
        </div>
        <div class="text-center col-md-4">
            <label>Days over 22 mmHg: 6</label>
        </div>
        <div class="text-right col-md-4">
            <label>Days over 24 mmHg: 1</label>
        </div>
    </div>
</div>
