﻿@model Injectsense.Models.ManageMyPatientsModel
@{
    ViewBag.Title = "Manage My Patients";
}

<div>
    <p class="clinic-name">@Model.ClinicName</p>
</div>

<div class="row">
    <div class="text-left col-md-6">
        <p>Current patient list as of: @Model.CurrentDateTimeLocalizedToClinic.ToString("dd-MMM-yyyy h:mm tt").</p>
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Enroll Patient", "Create", "Patient", null, new { @class = "btn btn-secondary btn-sm float-right" })
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" style="padding:0; margin:2px; text-align:left">Name</th>
                <th scope="col" style="padding:0; margin:2px; text-align:center">ID Number</th>
                <th scope="col" style="padding:0; margin:2px; text-align:center">Date of Birth</th>
                <th scope="col" style="padding:0; margin:2px; text-align:center">Left S/N</th>
                <th scope="col" style="padding:0; margin:2px; text-align:center">Right S/N</th>
                <th scope="col" style="padding:0; margin:2px; text-align:center">Latest Received</th>
                <th scope="col" style="padding:0; margin:2px; text-align:center">Total Received</th>
                <th scope="col" style="padding:0; margin:2px; text-align:center">Last Office Visit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.PatientList)
            {
            <tr>
                <td style="padding:0; margin:2px; text-align:left">@Html.ActionLink(m.PatientName, "Index", "Patient", new { patientIdString = @m.PatientId.ToString() }, null)</td>
                <td style="padding:0; margin:2px; text-align:center">@m.IdNumber</td>
                <td style="padding:0; margin:2px; text-align:center">@m.DateOfBirthString</td>
                <td style="padding:0; margin:2px; text-align:center">@m.LeftEyeSerialNumber</td>
                <td style="padding:0; margin:2px; text-align:center">@m.RightEyeSerialNumber</td>
                @if (m.TotalNumberOfTransmissions > 0)
                {
                <td style="padding:0; margin:2px; text-align:center">@Html.ActionLink(m.LastReceivedTimestampString, "Index", "TransmissionDetails", new { TransmissionId = @m.MostRecentTransmissionId, PatientId = @m.PatientId, ClinicId = @Model.ClinicId }, null)</td>
                }
                else
                {
                <td style="padding:0; margin:2px; text-align:center"></td>
                }
                <td style="padding:0; margin:2px; text-align:center">@m.TotalNumberOfTransmissions</td>
                <td style="padding:0; margin:2px; text-align:center">@m.LastOfficeVisitString</td>
            </tr>
            }
        </tbody>
    </table>
</div>
